html, body {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

.buffer-display {
    position: relative;
    width: 480px;
    height: 360px;
}
.buffer-content {
    position: absolute;
    left: 0;            
}
.buffer-content.fake {
    background-color: black;
}

.always-allocate-buffer-display {
    width: 500px;
    height: 180px;
    position: relative;
}
.always-allocate-buffer-display .buffer-display {
    position: absolute;
    transition: 2s left;
    left: 0;
    top: 0;
}
.always-allocate-buffer-display .buffer-display.scanout {
    left: 260px;
    z-index: 999;
}
.always-allocate-buffer-display .buffer-display,
.always-allocate-buffer-display .buffer-content {
    width: 240px;
    height: 180px;
}

.demo-container, .demo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}
.demo {
    transition: 1s top;
}
.demo.is-prev {
    top: -100%;
}
.demo.is-next {
    top: 100%;
}

.demo-title {
    position: absolute;
}

.component-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}
.component {
    border: 2px solid #cccccc;
    padding: 16px;
    padding-bottom: 64px;
    display: inline-block;
    position: relative;
    background: none no-repeat bottom 8px center;
}
.component.video-player {
    background-image: url(video-player.png);
}
.component.xorg {
    background-image: url(xorg-logo.png);
}
.component.monitor {
    background-image: url(video-display.png);
}

.draw-sequence {
    margin: 20px;
}
.draw-operation {
    line-height: 16px;
    font: 16pt monospace;
    color: #aaa;
}
.draw-operation.active {
    color: black;
}

.fullscreen {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    transform: none;

    z-index: 999;
    background: #444444;
}
.fullscreen .monitor {
    background: none;
}
.fullscreen .buffer-display,
.fullscreen .buffer-content {
    left: 0px;
    top: 0px;
    height: 100%;
    width: auto;
}
.fullscreen .buffer-display {
    margin-left: 50%;
}
.fullscreen .buffer-content {
    transform: translate(-50%, 0);
}
